*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(7, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 1600px;
    margin: 0px auto;
    border: 1px solid red;
}

header{
    background: red;
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black;
}

nav{
    background: lightcoral;
    height: 50px;
    border-bottom: 3px solid black;
}

nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}

.clearfix{
    clear: both;
}

#content{
    float: left;
    width: calc(80% - 80px);
    min-height: 700px;
    background: green;
}

.article{
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.article:first-child{
    padding-top: 10px;
    border-top: 1px solid #eee;
}

.article h2{
    font-size: 25px;
}

aside{
    float: left;
    width: calc(24.43% - 1px);
    background: orange;
    padding: 5px;
    min-height: 700px;
}

footer{
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}